.ball {
    position: absolute;
    border-radius: 50%;
  }
  
  #ball1 {
    width: 50px;
    height: 50px;
    background-color: red;
  }
  
  #ball2 {
    width: 60px;
    height: 60px;
    background-color: blue;
  }
  
  #ball3 {
    width: 70px;
    height: 70px;
    background-color: green;
  }
  
  #ball4 {
    width: 80px;
    height: 80px;
    background-color: yellow;
  }
  
  #ball5 {
    width: 90px;
    height: 90px;
    background-color: purple;
  }